@page "/ocupacion"
@page "/ocupacion/{OcupacionId:int}"
@**@
@inject OcupacionesBLL ocupacionesBLL

<EditForm Model="@ocupacion">
	<div class="card">
		<div class="card-body">
		    <h2>Registro</h2>
		</div>
		<div class="card-body">
			<div class="form-row">
				<div class="col-3">
					<label class="text-left">OcupacionID</label>
					<InputNumber @bind-Value="ocupacion.OcupacionID" class="form-control" placeholder="Ingrese su ID"/>
                    <br>
                    <button type="button" @onclick="Buscar" class="btn btn-primary"> <i class="oi oi-zoom-in"></i>Buscar</button>
				</div> 
			</div>
			 <div class="form-row">
				<div class="col-7">
					<label class="text-left">Descripción</label>
					<InputText @bind-Value="ocupacion.Descripcion" class="form-control" placeholder="Ingrese la descripción"/>
				</div>
			</div>
			<div class="form-row">
				<div class="col-7">
					<label class="text-left">Salario</label>
					<InputNumber @bind-Value="ocupacion.salario" class="form-control" placeholder="Ingrese el salario"/>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-primary" @onclick="Nuevo" ><i class="oi oi-file"></i> Nuevo</button>
				<button type="button" class="btn btn-success" @onclick="Guardar"><i class="oi oi-book"></i> Guardar</button>
				<button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash"></i>Eliminar</button>
			</div>
		</div>
	</div>
</EditForm>

@code {
    [Parameter]
    public int OcupacionID{get; set;}
    public Ocupaciones ocupacion {get; set;} = new Ocupaciones();
    protected override void OnInitialized()
    {
        if(OcupacionID > 0){
            this.ocupacion.OcupacionID = OcupacionID;
            this.Buscar();
        }
    }
    void Buscar(){

        var ocupacionEncontrada = ocupacionesBLL.Buscar(ocupacion.OcupacionID);

        if(ocupacionEncontrada != null){
            this.ocupacion  = ocupacionEncontrada;
        }
    }
    void Nuevo(){
        this.ocupacion = new Ocupaciones();
    }
    bool validar(){
        if(!String.IsNullOrEmpty(ocupacion.Descripcion)){
            return true;
        }
        return false;
    }
    void Guardar(){
        if(!validar()){
            return;
        }
        if(ocupacionesBLL.Guardar(this.ocupacion))
            this.Nuevo();
    }
    void Eliminar(){
        if(ocupacionesBLL.Eliminar(ocupacion)){
            Nuevo();
        }
    }
}