@page "/"
@inject PersonasBLL personaBLL

<PageTitle>Home</PageTitle>

<div class="card">
    <div class="card-header">
        <h1>Opciones disponible.</h1>
    </div>
        <div class="card-body">
            <div class="row">
            <div class="card" style="width: 14rem;">
                <a href="ocupacion"><img class="card-img-top" src="https://i.ibb.co/sJr2VvT/Ocupaciones.jpg" alt="Ocupaciones" border="0"></a>
                    <div class="card-body">
                        <h5 class="card-title">Ocupaciones</h5>
                        <p class="card-text">Aqui se registrara las ocupaciones con sus detalles.</p>
                        <hr>
                        <a href="ocupacion" class="btn btn-success">Dale Click</a>
                    </div>
            </div>
            <div class="card" style="width: 14rem;">
                <a href="persona"><img class="card-img-top" src="https://i.ibb.co/C23Lwyp/189-Sk-VNQSBGQU1-PIDQ1-Ny00-MQ.jpg" alt="Personas" border="0"></a>
                
                    <div class="card-body">
                        <h5 class="card-title">Personas</h5>
                        <p class="card-text">Aqui se registrara las personas con sus detalles.</p>
                        <hr>
                        <a href="persona" class="btn btn-success">Dale Click</a>
                    </div>
            </div>
            <div class="card" style="width: 14rem;">
                <a href="prestamos"><img class="card-img-top" src="https://i.ibb.co/SBbhGp0/trade.jpg" alt="prestamos" border="0"></a>
                    <div class="card-body">
                        <h5 class="card-title">Prestamos</h5>
                        <p class="card-text">Aqui se registrara los prestamos con sus detalles</p>
                        <hr>
                        <a href="prestamos" class="btn btn-success">Dale Click</a>
                    </div>
            </div>
            <div class="card" style="width: 14rem;">
                <a href="pago"><img class="card-img-top" src="https://i.ibb.co/sw9vBM0/Ecommerce-696.jpg" alt="Ecommerce-696" border="0"></a>
                    <div class="card-body">
                        <h5 class="card-title">Pagos</h5>
                        <p class="card-text">Aqui se registrara los pagos realizado con sus detalles.</p>
                        <hr>
                        <a href="pago" class="btn btn-success">Dale Click</a>
                    </div>
            </div>
        </div>
    </div>
</div>
