
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Ocupacion</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                </button>
            </div>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ocupacion">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Registrar Ocupacion
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ConsultaOcupacion">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Consulta Ocupaciones
            </NavLink>
        </div>
        <!------------------------------------------------------------------------------------>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Personas</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                </button>
            </div>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="persona">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Registrar Persona
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ConsultaPersonas">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Consulta Personas
            </NavLink>
        </div>
        <!------------------------------------------------------------------------------------>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Prestamos</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                </button>
            </div>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="prestamos">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Registrar Prestamo
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ConsultaPrestamos">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Consulta Prestamos
            </NavLink>
        </div>
        <!------------------------------------------------------------------------------------>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Pagos</a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                </button>
            </div>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="pago">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Registrar Pago
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ConsultaPago">
                <span class="oi oi-document text outline" aria-hidden="true"></span> Consulta Pagos
            </NavLink>
        </div>
    </nav>
</div> 

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}